<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/static.css">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.4.1/scss/bootstrap.scss">
    <script type="text/javascript" src="css/js/custom.js"></script>
</head>
<body>
    <div>
       <input type="button" id="button1" class="button" onclick="myFunction()" value="Button1"/>
        <input type="button" id="button2" value="Button2"/>
    </div>

</body>
</html>